.header {
  display: flex;
  justify-content: space-between;
  position: absolute; /* Позиционируем элемент поверх других */
  top: 0; /* Прикрепляем к верхней части родительского элемента */
  left: 0; /* Прикрепляем к левой части родительского элемента */
  right: 0; /* Прикрепляем к правой части родительского элемента */
  padding: 1rem 2rem 1rem 2rem; /* Отступы для удобства */
  z-index: 10; /* Убедитесь, что элемент находится поверх других */
}

.link {
  text-decoration: none;
  color: white;
}
